@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base style layer */
@layer base {
  /* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

  body {
    background-color: white;
    color: black;
    font-family: Verdana;
  }

  a {
    @apply underline text-blue-700 visited:text-purple-700;
  }
}

@layer components {
}

@layer utilities {
}
